# Introduction to `pandas`

[This is what it's all about](https://www.youtube.com/watch?v=6UvbhER4RmM)


<table>
    <tr>
        <td><img src="https://mddean.people.wm.edu/MBA/images/panda2.jpg" alt="Panda in a tree" height=480></td>
        <td><img src="https://mddean.people.wm.edu/MBA/images/panda3.jpg" alt="Panda being cute"></td>
    </tr>
</table>

One of the early criticisms from many people in the data science arena surrounding the use of the Python language was the lack of useful data structures for performing data analysis tasks. This criticism stemmed in part from comparisons between the R language and Python. R has a built-in *DataFrame* object that greatly simplified many data analysis tasks. This deficiency was addressed in 2008 by Wes McKinney with the creation of [pandas][1] (the name was originally an abbreviation of panel data), and this module continues to be improved. To quote the pandas documentation:

>Python has long been great for data munging and preparation, but less
>so for data analysis and modeling. pandas helps fill this gap, enabling
>you to carry out your entire data analysis workflow in Python without
>having to switch to a more domain specific language like R.

The pandas module introduces several new data structures like the `Series`, `DataFrame`, and `Panel` that build on top of existing tools like `NumPy` to speed up data analysis tasks. (`NumPy` stands for "numerical python" and the module provides support for many useful numerical operations that we will explore in a future module). The pandas module also provides efficient mechanisms for moving data between in-memory representations and different data formats, including comma separated values (`.csv`) and text files, JSON files, SQL databases, HDF5 format files, and even Excel spreadsheets. Finally, the pandas module also provides support for dealing with missing or incomplete data and aggregating or grouping data.

-----
[1]: http://pandas.pydata.org

### Importing pandas

To use the pandas package, we import it using the de facto standard `pd` alias.

In [ ]:
import pandas as pd

<hr style="border:1px solid gray">

## Basic Data Structures

There are three main data types in pandas: `Series`, `Index`, and `DataFrame`. We will focus on `Series` and `DataFrame` objects. They have similar functionality. In fact, a `DataFrame` contains one or more `Series` objects. Each data column (which is a `Series`) in a `DataFrame` must contain only a single data type (e.g., int32, float64, object). Note that there are also the types `TimeSeries` and `Panel` in pandas, but the types we will most commonly use are `DataFrame` and `Series`.

### `Series` Objects Containing Objects

A `Series` is useful to hold data that can be accessed by using a specific label. Let's create a few different `Series` objects.

In [ ]:
# Create a Series by passing it a list
s1 = pd.Series(['a', 'b', 'c', 'd'])
print(s1)

Notice that 2 columns were printed out. The first column is the *index* and the second column is the data from the `list` that we passed in upon creation. The index was generated automatically for us when we created the `s1` object. You can specify the index either at creation or after `Series` has been created. We can get both the index and the values from a series with appropriate methods.

In [ ]:
# What type is s1?
print(type(s1))

In [ ]:
# Get the values from s1
s1.values

In [ ]:
# What type is returned when calling values?
print(type(s1.values))

In [ ]:
# Get the index of s1
s1.index

Because we did not give it an index at creation, it created and used a `RangeIndex`.

In [ ]:
# How big is the index?
print(f's1.size = {s1.size}')

# what is the type of the index
print(type(s1.index))

In [ ]:
# Change the index
s1.index = ['one', 'two', 'three', 'four']
print(s1)

You can name the series if you want.

In [ ]:
# Name s1 series
s1.name = 'Silly Series'

In [ ]:
print(s1.name)

In [ ]:
# Now when we print out the series, we should see its name also
print(s1)

-----

### Operations with `Series`

Let's create a larger `Series` and try a few different basic operations.

In [ ]:
# Create ice cream flavors list
ice_cream = ['chocolate', 'strawberry', 'vanilla', 'rum raisin', 
             'chocolate', 'vanilla', 'vanilla', 'strawberry', 
             'rum raisin', 'chocolate', 'strawberry', 'cotton candy', 
             'chocolate', 'vanilla', 'rum raisin', 'vanilla', 
             'vanilla', 'strawberry', 'chocolate', 'vanilla', 
             'chocolate', 'vanilla', 'strawberry', 'vanilla', 
             'chocolate', 'chocolate', 'purple cow', 'chocolate', 
             'rum raisin', 'vanilla', 'chocolate', 'bubble gum', 'vanilla']

In [ ]:
# Create a new series
flavors = pd.Series(ice_cream)
print(flavors)

In [ ]:
# Look at just the top using .head()
print(flavors.head())

In [ ]:
# By default head gives top 5
# You can specify n - the number to show
print(flavors.head(3))

In [ ]:
# You can also see the bottom using .tail()
print(flavors.tail(3))

In [ ]:
# Sometimes we want to "sample" from the series 
print(flavors.sample(5))

### Counting Categorical Series

Suppose our ice cream flavors were the results of a survey filled out by your fellow classmates. It would be nice to know which flavors were the most popular, least popular, etc. You could sum up the responses for each flavor using a `for` loop. Fortunately, pandas provides a much easier way to arrive at our summary by using the `value_counts()` method. Let's try it.

In [ ]:
# Find out the popularity of each flavor
print(flavors.value_counts())

In [ ]:
# What type does value_counts() return?
print(type(flavors.value_counts()))

Because the returned object is a `Series`, you can call the `.index` and `.values` attributes just like you would on any other `Series` object. 

There is also a way to easily find only the unique values for a categorical `Series` like our `flavors` object: use the `unique()` method.

In [ ]:
# Find only the unique flavors
print(flavors.unique())

<hr style="border:1px solid gray">

<font color='red' size = '5'> Student Exercise </font>

In the code cell below, you have been given a `list` representing the responses of your third-grade niece's survey to her classmates. She asked them, "What is your favorite color?" 

1. Run the code cell that contains the variable named `colors`.
2. Create a `Series` object named `color_series`.
3. For each color, how many students responded it was their favorite? Which one is the most popular? Least popular?
4. How many different, unique colors were given in the responses?

-----

In [ ]:
# 1. Run the code cell that contains the variable named `colors`.
colors = ['red', 'orange', 'yellow', 'green', 'pink', 'purple',
          'blue', 'indigo', 'blue', 'red', 'green', 'violet', 
          'purple', 'red', 'blue', 'blue', 'yellow', 'green',
          'blue', 'red', 'purple']

In [ ]:
# 2. Create a `Series` object named `color_series`.

In [ ]:
# 3. For each color, how many students responded it was their
# favorite? Which one is the most popular? Least popular?

In [ ]:
# 4. How many different, unique colors were given in the responses?

<hr style="border:1px solid gray">

## Numerical `Series`

I want to create some random numerical data to see how a `Series` containing numerical data is different from a `Series` with categorical or string data, as we had above. We'll use the `numpy` package to generate the random numbers. (We will discuss the `numpy` package in a later module.)

In [ ]:
# import the numpy package using np alias
import numpy as np

In [ ]:
# Set the seed so that I can replicate the random numbers
np.random.seed(42)

# List comprehension to generate random floating point numbers with one digit
temps = [float(f'{np.random.randint(45, 67) + np.random.random():.1f}') for i in range(50)]
print(temps)

In [ ]:
# Create a series from float list temps
tempF = pd.Series(temps)
print(tempF)

-----

### Accessing `Series` Data

Data rows can be accessed either by the "label" in the index column or by their position in the data column. The `.loc` command finds data rows based on their label. The `.iloc` command finds data rows based on its position; that is, the sequence in which the rows are found in the `Series`. One way to remember the difference between the two methods is that the `i` in `iloc` stands for the **integer** position to look up. When we created our `tempF` `Series`, we did not specify an index. Therefore, it will have a `RangeIndex` starting at 0 and incrementing by 1 for each subsequent row. When we create a `Series` this way, the commands `.loc` and `.iloc` will work identically. This is the case for our `tempF` object.

In [ ]:
# Get the element using the labeled index of 0
print(tempF.loc[0])

In [ ]:
# Get the element using the INTEGER position of 0
print(tempF.iloc[0])

But now let's change the indices to something else.

In [ ]:
# Change index to start at 50
tempF.index = range(50, 100, 1)
print(tempF.index)

The statement below will result in a `KeyError` because our index labels have changed.

In [ ]:
tempF.loc[0]

To get the first element of the `Series`, we need to use the newly labeled index of 50.

Using `.iloc[0]`, on the other hand, will still give us the first row of data in the `Series`.

In [ ]:
# Try getting the first element with the new label
print(tempF.loc[50])

In [ ]:
# Using the integer position we can still use 0 for first element
print(tempF.iloc[0])

-----

### `Series` Methods for Numerical Data

When we have a numerical data type in a `Series`, we will often want to find some summary statistics to get an idea of the data we are dealing with. Let's try a few of the methods we have available to us.

In [ ]:
# We add up the values with sum()
print(f'tempF.sum():     {tempF.sum()}')

# We can find the average with mean()
print(f'tempF.mean():    {tempF.mean()}')

# We can find the median with median()
print(f'tempF.median():  {tempF.median()}')

# We can find the standard deviation with std()
print(f'tempF.std():     {tempF.std()}')

# We can find the product with product()
print(f'tempF.product(): {tempF.product()}')

Those methods are all nice, but there is a function that we can use on a numerical `Series` that provides some of the most common summary statistics: `describe()`.

In [ ]:
# Get the summary statistics
print(tempF.describe())

### Sorting

We will also want to sort a `Series` based on the numerical values. As expected, you can sort in either ascending or descending order.

In [ ]:
# First look at the head()
print(tempF.head())

In [ ]:
# Try sorting to see what happens
tempF.sort_values()
print(tempF.head())

Well, that did **not** work the way we had hoped. What happened? The `sort_values()` returns a new `Series` object. We can store the result in a new variable and see if that reacts the way we had hoped.

In [ ]:
sorted_temps = tempF.sort_values()
print(sorted_temps.head())

What if we want to keep it in the same variable? We can sort "inplace".

In [ ]:
# See original
print(tempF.head())

In [ ]:
# Sort in place
tempF.sort_values(inplace=True)
print(tempF.head())

Now, if we want to sort in descending order, we have to add the argument `ascending=False`.

In [ ]:
tempF.sort_values(inplace=True, ascending=False)
print(tempF.head())

What if you want to get back to the original sort order? Well, if you created the `Series` object with a `RangeIndex`, you can use that to get back to the original order by calling `sort_index()`.

In [ ]:
# Re-sort using the index
tempF.sort_index(inplace=True)
print(tempF.head())

----

### Concatenating One Series to Another

We can use the `pd.concat()` method to concatenate multiple `Series` objects. As we saw with sorting, the combined `Series` object is not permanent unless you resave it or save it in a new variable.

In [ ]:
# Look at original size and index
print(f'tempF.size:  {tempF.size}')
print(f'tempF.index: {tempF.index}')

# Create a new single element Series
temp_series = pd.Series([0.0])

# append it to tempF and see if it "stuck"
pd.concat([tempF, temp_series])

print('\nAFTER CONCATENATING:')
print(f'tempF.size:  {tempF.size}')
print(f'tempF.index: {tempF.index}')

This confirms that it did **not** save the result of the concatenation back to the original `Series` object. Let's try again.

In [ ]:
# append it to tempF and save it back to tempF
tempF = pd.concat([tempF, temp_series])

print('AFTER CONCATENATING:')
print(f'tempF.size:  {tempF.size}')
print(f'tempF.index: {tempF.index}')

Now, we have our combined `Series`. Notice that the index it gave the new element was `0`. If we want to get rid of that new value, then we can use the `.drop()` method. The `.drop()` method deletes a row in a `Series` based on the row label (i.e., index). Let's try it.

In [ ]:
tempF.drop(labels=0, inplace=True)
print('AFTER DROPPING:')
print(f'tempF.size:  {tempF.size}')
print(f'tempF.index: {tempF.index}')

<hr style="border:1px solid gray">

<font color='red' size = '5'> Student Exercise </font>

In the code cell below, you have been given a `list` of the US presidents' heights in centimeters. Complete the following tasks:

1. Run the code cell that contains the variable named `prez_heights`.
2. Create a `Series` object named `prez_series` from the given list. Print out its type.
3. Print the first 7 elements of `prez_series`.
4. Print the last 4 elements of `prez_series`.
5. Print a sample of 5 elements of `prez_series`.
6. Print the summary statistics for `prez_series`.

-----

In [ ]:
# 1. Run the code cell that contains the variable named `prez_heights`.
prez_heights = [193, 192, 191, 189, 188, 188, 188, 188, 188, 187, 
               185, 185, 185, 183, 183, 183, 183, 183, 183, 182, 
               182, 182, 182, 182, 180, 180, 179, 178, 178, 178, 
               178, 177, 175, 175, 174, 173, 173, 173, 173, 171, 
               170, 170, 168, 168, 163]

In [ ]:
# 2. Create a `Series` object named `prez_series` from 
# the given list. Print out its type.

In [ ]:
# 3. Print the first 7 elements of `prez_series`.

In [ ]:
# 4. Print the last 4 elements of `prez_series`.

In [ ]:
# 5. Print a sample of 5 elements of `prez_series`.

In [ ]:
# 6. Print the summary statistics for `prez_series`.

<hr style="border:1px solid gray">

## Understanding `DataFrame`s

The `Series` class can be thought of as a single column of a spreadsheet where all the data is the same type. The `DataFrame` class builds on the `Series` class by having many columns, each with their own data type. You can think of this as representing the entire spreadsheet. So, a `DataFrame` is simply a two-dimensional object where each column is a `Series`. Thus, all of the `Series` properties and methods we worked with earlier can be applied to individual `DataFrame` columns. 

Let's create a `DataFrame`. We'll use the [Fisher's Iris data set][1] which consists of the sepal length, sepal width, petal length, and petal width for 50 samples of three different iris species. The measurements are in centimeters. We have lists for the four measurements and the species. We'll create a dictionary with desired column names as the key and a `Series` object created from the lists as the value. 

[1]: https://en.wikipedia.org/wiki/Iris_flower_data_set

In [ ]:
# The sepal length
sepal_length = [5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 6.3, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]

In [ ]:
# The sepal width
sepal_width = [3.5, 3. , 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3. ,
       3. , 4. , 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3. ,
       3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.1, 3. ,
       3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3. , 3.8, 3.2, 3.7, 3.3, 3.2, 3.2,
       3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2. , 3. , 2.2, 2.9, 2.9,
       3.1, 3. , 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3. , 2.8, 3. ,
       2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3. , 3.4, 3.1, 2.3, 3. , 2.5, 2.6,
       3. , 2.6, 2.3, 2.7, 3. , 2.9, 2.9, 2.5, 2.8, 3.3, 2.7, 3. , 2.9,
       3. , 3. , 2.5, 2.9, 2.5, 3.6, 3.2, 2.7, 3. , 2.5, 2.8, 3.2, 3. ,
       3.8, 2.6, 2.2, 3.2, 2.8, 2.8, 2.7, 3.3, 3.2, 2.8, 3. , 2.8, 3. ,
       2.8, 3.8, 2.8, 2.8, 2.6, 3. , 3.4, 3.1, 3. , 3.1, 3.1, 3.1, 2.7,
       3.2, 3.3, 3. , 2.5, 3. , 3.4, 3. ]

In [ ]:
# The petal length
petal_length = [1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, 1.5, 1.5, 1.6, 1.4,
       1.1, 1.2, 1.5, 1.3, 1.4, 1.7, 1.5, 1.7, 1.5, 1. , 1.7, 1.9, 1.6,
       1.6, 1.5, 1.4, 1.6, 1.6, 1.5, 1.5, 1.4, 1.5, 1.2, 1.3, 1.5, 1.3,
       1.5, 1.3, 1.3, 1.3, 1.6, 1.9, 1.4, 1.6, 1.4, 1.5, 1.4, 4.7, 4.5,
       4.9, 4. , 4.6, 4.5, 4.7, 3.3, 4.6, 3.9, 3.5, 4.2, 4. , 4.7, 3.6,
       4.4, 4.5, 4.1, 4.5, 3.9, 4.8, 4. , 4.9, 4.7, 4.3, 4.4, 4.8, 5. ,
       4.5, 3.5, 3.8, 3.7, 3.9, 5.1, 4.5, 4.5, 4.7, 4.4, 4.1, 4. , 4.4,
       4.6, 4. , 3.3, 4.2, 4.2, 4.2, 4.3, 3. , 4.1, 6. , 5.1, 5.9, 5.6,
       5.8, 6.6, 4.5, 6.3, 5.8, 6.1, 5.1, 5.3, 5.5, 5. , 5.1, 5.3, 5.5,
       6.7, 6.9, 5. , 5.7, 4.9, 6.7, 4.9, 5.7, 6. , 4.8, 4.9, 5.6, 5.8,
       6.1, 6.4, 5.6, 5.1, 5.6, 6.1, 5.6, 5.5, 4.8, 5.4, 5.6, 5.1, 5.1,
       5.9, 5.7, 5.2, 5. , 5.2, 5.4, 5.1]

In [ ]:
# The petal width
petal_width = [0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1,
       0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2,
       0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.1, 0.2, 0.2, 0.1, 0.2,
       0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2, 1.4, 1.5,
       1.5, 1.3, 1.5, 1.3, 1.6, 1. , 1.3, 1.4, 1. , 1.5, 1. , 1.4, 1.3,
       1.4, 1.5, 1. , 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7,
       1.5, 1. , 1.1, 1. , 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2,
       1.4, 1.2, 1. , 1.3, 1.2, 1.3, 1.3, 1.1, 1.3, 2.5, 1.9, 2.1, 1.8,
       2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2. , 1.9, 2.1, 2. , 2.4, 2.3, 1.8,
       2.2, 2.3, 1.5, 2.3, 2. , 2. , 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6,
       1.9, 2. , 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9,
       2.3, 2.5, 2.3, 1.9, 2. , 2.3, 1.8]

In [ ]:
# The species
species = ['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica']

In [ ]:
# Create the dictionary with the column name as the key
# and the Series as the value
iris_dict = {'SepalLengthCm': pd.Series(sepal_length),
            'SepalWidthCm': pd.Series(sepal_width),
            'PetalLengthCm': pd.Series(petal_length),
            'PetalWidthCm': pd.Series(petal_width),
            'Species': pd.Series(species)}

In [ ]:
# Create the DataFrame called iris from the dictionary
iris = pd.DataFrame(iris_dict)

# print it out
iris

### Commonly Used Attributes

Here are a few of the commonly used attributes on a `DataFrame` object.

| Attribute | Returns |
|:----------|--------:|
|`dtypes` | The data type of each column |
|`shape` | A `tuple` showing the number of rows and columns |
|`index` | The `Index` object of the `DataFrame` |
|`columns` | The names of the columns |
|`values` | The data in the `DataFrame` object |
|`empty` | Checks to see if the `DataFrame` object is empty|

In [ ]:
# We can look at the data types for the columns
iris.dtypes

In [ ]:
# How many rows and columns?
iris.shape

In [ ]:
# What is the index?
iris.index

In [ ]:
# Names of the columns
iris.columns

In [ ]:
# The data itself
iris.values

In [ ]:
# Is the iris dataframe empty?
iris.empty

<hr style="border:1px solid gray">

<font color='red' size = '5'> Student Exercise </font>

In the code cell below, you have been given several `list`s representing different information that is logged at one of your web servers: the ip address making the request, the time the request came in, the actual request, and the response code to the request.

1. Run the code cell that contains the variables named `ip`, `time`, `request`, `response`.
2. Create a dictionary variable named `log_dict` where the key is the name of the column and the value is a `Series` created from the appropriate list.
3. Create a `DataFrame` object named `web_log` using `log_dict`. Print it out.
4. How many rows and columns are in `web_log`?
5. What is the data type for each column in the `web_log`?

-----

In [ ]:
# 1. Run the code cell that contains the variables named `ip`,
# `time`, `request`, `response`.
# Lists for a web server log
ip = ['10.128.2.1', '10.128.2.1', '10.128.2.1', '10.131.2.1',
       '10.130.2.1', '10.130.2.1', '10.128.2.1', '10.131.2.1',
       '10.131.2.1', '10.131.2.1', '10.131.2.1', '10.130.2.1',
       '10.130.2.1', '10.130.2.1', '10.130.2.1', '10.129.2.1',
       '10.131.0.1', '10.131.0.1', '10.130.2.1', '10.131.2.1',
       '10.131.2.1', '10.128.2.1', '10.131.0.1', '10.128.2.1',
       '10.131.0.1', '10.129.2.1', '10.131.0.1', '10.128.2.1',
       '10.131.2.1', '10.131.2.1', '10.131.2.1', '10.131.2.1',
       '10.131.2.1', '10.131.2.1', '10.131.2.1', '10.131.2.1',
       '10.131.2.1', '10.131.2.1', '10.130.2.1', '10.129.2.1',
       '10.128.2.1', '10.128.2.1', '10.128.2.1', '10.128.2.1',
       '10.131.2.1', '10.129.2.1', '10.129.2.1', '10.131.2.1',
       '10.131.2.1', '10.131.2.1', '10.128.2.1', '10.131.2.1',
       '10.131.2.1', '10.131.2.1', '10.131.2.1', '10.131.2.1',
       '10.131.2.1', '10.131.2.1', '10.131.2.1', '10.131.2.1',
       '10.131.2.1', '10.128.2.1', '10.131.0.1', '10.131.2.1',
       '10.131.2.1', '10.128.2.1', '10.131.0.1', '10.131.2.1',
       '10.131.0.1', '10.128.2.1', '10.131.2.1', '10.131.2.1',
       '10.128.2.1', '10.131.2.1', '10.130.2.1', '10.130.2.1']
time = ['[29/Nov/2017:06:58:55', '[29/Nov/2017:06:59:02',
       '[29/Nov/2017:06:59:03', '[29/Nov/2017:06:59:04',
       '[29/Nov/2017:06:59:06', '[29/Nov/2017:06:59:19',
       '[29/Nov/2017:06:59:19', '[29/Nov/2017:06:59:19',
       '[29/Nov/2017:06:59:30', '[29/Nov/2017:06:59:37',
       '[29/Nov/2017:06:59:37', '[29/Nov/2017:07:00:19',
       '[29/Nov/2017:07:00:21', '[29/Nov/2017:13:31:27',
       '[29/Nov/2017:13:31:28', '[29/Nov/2017:13:38:03',
       '[29/Nov/2017:13:38:04', '[29/Nov/2017:13:38:07',
       '[29/Nov/2017:13:38:19', '[29/Nov/2017:13:38:20',
       '[29/Nov/2017:13:38:20', '[29/Nov/2017:13:38:20',
       '[29/Nov/2017:13:38:20', '[29/Nov/2017:13:38:20',
       '[29/Nov/2017:13:38:20', '[29/Nov/2017:13:38:20',
       '[29/Nov/2017:13:38:21', '[29/Nov/2017:13:38:21',
       '[29/Nov/2017:13:38:23', '[29/Nov/2017:13:46:46',
       '[29/Nov/2017:13:46:50', '[29/Nov/2017:13:46:53',
       '[29/Nov/2017:13:46:54', '[29/Nov/2017:13:47:04',
       '[29/Nov/2017:13:47:05', '[29/Nov/2017:13:47:16',
       '[29/Nov/2017:13:47:16', '[29/Nov/2017:13:47:19',
       '[29/Nov/2017:13:47:20', '[29/Nov/2017:13:49:25',
       '[29/Nov/2017:13:49:26', '[29/Nov/2017:13:49:32',
       '[29/Nov/2017:13:49:34', '[29/Nov/2017:13:49:37',
       '[29/Nov/2017:13:51:40', '[29/Nov/2017:13:51:41',
       '[29/Nov/2017:13:51:44', '[29/Nov/2017:13:51:44',
       '[29/Nov/2017:13:51:46', '[29/Nov/2017:13:51:49',
       '[29/Nov/2017:13:57:04', '[29/Nov/2017:14:04:57',
       '[29/Nov/2017:14:05:10', '[29/Nov/2017:14:05:12',
       '[29/Nov/2017:14:05:16', '[29/Nov/2017:14:05:22',
       '[29/Nov/2017:14:05:24', '[29/Nov/2017:14:05:28',
       '[29/Nov/2017:14:05:35', '[29/Nov/2017:14:05:37',
       '[29/Nov/2017:14:06:05', '[29/Nov/2017:14:06:10',
       '[29/Nov/2017:14:31:33', '[29/Nov/2017:14:33:21',
       '[29/Nov/2017:14:33:22', '[29/Nov/2017:14:33:22',
       '[29/Nov/2017:14:33:22', '[29/Nov/2017:14:33:22',
       '[29/Nov/2017:14:33:22', '[29/Nov/2017:14:33:23',
       '[29/Nov/2017:14:33:23', '[29/Nov/2017:14:33:23',
       '[29/Nov/2017:14:33:23', '[29/Nov/2017:14:33:26',
       '[29/Nov/2017:14:38:07', '[29/Nov/2017:14:38:08']
request = ['GET /login.php HTTP/1.1', 'POST /process.php HTTP/1.1',
       'GET /home.php HTTP/1.1', 'GET /js/vendor/moment.min.js HTTP/1.1',
       'GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1',
       'GET /profile.php?user=bala HTTP/1.1',
       'GET /js/jquery.min.js HTTP/1.1', 'GET /js/chart.min.js HTTP/1.1',
       'GET /edit.php?name=bala HTTP/1.1', 'GET /logout.php HTTP/1.1',
       'GET /login.php HTTP/1.1', 'GET /login.php HTTP/1.1',
       'GET /login.php HTTP/1.1', 'GET / HTTP/1.1',
       'GET /login.php HTTP/1.1', 'POST /process.php HTTP/1.1',
       'GET /home.php HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET / HTTP/1.1', 'GET /login.php HTTP/1.1',
       'GET /css/bootstrap.min.css HTTP/1.1',
       'GET /css/font-awesome.min.css HTTP/1.1',
       'GET /css/normalize.css HTTP/1.1', 'GET /css/style.css HTTP/1.1',
       'GET /js/vendor/modernizr-2.8.3.min.js HTTP/1.1',
       'GET /css/main.css HTTP/1.1',
       'GET /js/vendor/jquery-1.12.0.min.js HTTP/1.1',
       'GET /bootstrap-3.3.7/js/bootstrap.min.js HTTP/1.1',
       'GET /fonts/fontawesome-webfont.woff2?v=4.6.3 HTTP/1.1',
       'GET / HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /logout.php HTTP/1.1', 'GET /login.php HTTP/1.1',
       'POST /process.php HTTP/1.1', 'GET /login.php?value=fail HTTP/1.1',
       'POST /process.php HTTP/1.1', 'GET /home.php HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /countdown.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /details.php?id=44 HTTP/1.1',
       'GET /countdown.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /home.php HTTP/1.1', 'GET /compiler.php HTTP/1.1',
       'GET /compiler.php HTTP/1.1', 'GET /logout.php HTTP/1.1',
       'GET /login.php HTTP/1.1', 'POST /process.php HTTP/1.1',
       'GET /home.php HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /details.php?id=44 HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /details.php?id=44 HTTP/1.1', 'GET /contest.php HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /details.php?id=46 HTTP/1.1', 'GET /contest.php HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /details.php?id=42 HTTP/1.1', 'GET /contest.php HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /details.php?id=45 HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET / HTTP/1.1',
       'GET /contestproblem.php?name=RUET%20OJ%20Server%20Testing%20Contest HTTP/1.1',
       'GET /css/bootstrap.min.css HTTP/1.1',
       'GET /css/font-awesome.min.css HTTP/1.1',
       'GET /css/normalize.css HTTP/1.1', 'GET /css/main.css HTTP/1.1',
       'GET /css/style.css HTTP/1.1',
       'GET /js/vendor/modernizr-2.8.3.min.js HTTP/1.1',
       'GET /js/vendor/jquery-1.12.0.min.js HTTP/1.1',
       'GET /bootstrap-3.3.7/js/bootstrap.min.js HTTP/1.1',
       'GET /js/vendor/moment.min.js HTTP/1.1', 'GET / HTTP/1.1',
       'GET /compiler.php HTTP/1.1', 'GET /home.php HTTP/1.1']
response = [200, 302, 200, 200, 200, 200, 200, 200, 200, 302, 200, 200, 200,
       302, 200, 302, 200, 200, 302, 200, 200, 200, 200, 200, 200, 200,
       200, 200, 200, 200, 200, 302, 200, 302, 200, 302, 200, 302, 200,
       302, 200, 200, 200, 200, 302, 200, 302, 200, 200, 200, 200, 200,
       200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 304,
       304, 304, 304, 304, 304, 304, 304, 304, 200, 200, 200]

In [ ]:
# 2. Create a dictionary variable named `log_dict` where the 
# key is the name of the column and the value is a `Series` 
# created from the appropriate list.

In [ ]:
# 3. Create a `DataFrame` object named `web_log` using `log_dict`. Print it out.

In [ ]:
# 4. How many rows and columns are in `web_log`?

In [ ]:
# 5. What is the data type for each column in the `web_log`?

<hr style="border:1px solid gray">

## Manipulating `DataFrame`s

We have seen how to create DataFrames when given a list for each column. This is only one way to create a DataFrame. I encourage you to explore other ways to use the constructor of the `DataFrame` class to create objects.

Once you have a DataFrame in memory, you can begin to manipulate it and perform some analysis of the data. You can extract an entire column by using the square bracket notation: `data_frame_name['column_name']`. You can also use the dot notation to retrieve an entire column, assuming the column name does not contain spaces: `data_frame_name.column_name`.

In [ ]:
# Pull out the "Species" column
iris['Species']

In [ ]:
# What is the type of the column? You should already know this
type(iris['Species'])

In [ ]:
# Extract the 'Species' column with dot notation
iris.Species

Getting rows of a `DataFrame` is similar to retrieving a row in a `Series`. You can either use `.loc[label]` or `.iloc[integer position]`.

In [ ]:
# If you want a specific row of a DataFrame, you can use .loc or .iloc
# Get first row
iris.loc[0]

In [ ]:
# Now with iloc
iris.iloc[0]

### Attributes and Methods of a `DataFrame`

We've already seen some of the commonly used attributes for getting information about a `DataFrame`. One detail that you should be aware of is that the type of the returned object from calling `values` is a `numpy.ndarray` - something we will see more of later.

In [ ]:
# Can get the values
iris.values

In [ ]:
# The values are of type numpy.ndarray
type(iris.values)

In [ ]:
# If you want to convert it to a built-in Python list
print(f'Type of iris.values.tolist(): {type(iris.values.tolist())}')
iris.values.tolist()

In [ ]:
# Can get the columns
iris.columns

In [ ]:
# if you only want to make the column names a list
iris.columns.values.tolist()

In [ ]:
# Our very powerful friend describe() is REALLY useful for DataFrames
iris.describe()

### Sorting a `DataFrame`

We can sort a `DataFrame` by a specified column using the `sort_values()` method and passing in the name of the column to the `by` argument. If you want the sort order to be preserved, you can use the `inplace=True` argument.

In [ ]:
# Let's sort by SepalWidthCm
iris.sort_values(by='SepalWidthCm', inplace=True)
iris

In [ ]:
# Remember we can get back to the original order using the index 
# (assuming we didn't change it)
iris.sort_index(inplace=True)
iris

In [ ]:
# What if you want to sort by multiple columns?
# That's easy
iris.sort_values(by=['SepalLengthCm', 'SepalWidthCm'], inplace=True)
iris

### Creating New Columns in a `DataFrame`

There are many times that you will want to create a new column within an existing `DataFrame`, often based on the current columns. In machine learning parlance, this is often referred to as "feature engineering". To keep things very, very simple, we will simply convert one of the columns from centimeters to inches. Hopefully it is obvious that this would not really help us if we were trying to improve some of our machine learning models, since it is simply scaling the variable rather than exploring a relationship among different variables. 

Let's convert the `PetalLengthCm` column to inches and name it `PetalLengthIn`. 

The statement below might be a little confusing at first glance. It seems we are dividing a `DataFrame` column, which is a `Series`, by a constant. Will this work even though it appears we have mixed types of a `Series` and a `float`? Indeed, it will work. The division is interpreted element-wise, so each element of the `Series` is divided by our conversion constant of 2.54.

In [ ]:
# conversion constant
cm_per_inch = 2.54
iris['PetalLengthIn'] = iris['PetalLengthCm'] / cm_per_inch
iris

### Grouping

As expert users of Excel, you understand PivotTables and really want to use them in Python. We'll look at this in more detail later, but here is a small taste of creating one. We are interested in looking at the average values for each numerical column for each species. That is, we want to "group by" species and see the average for all the columns.

In [ ]:
# Create a pivot table
iris.groupby('Species').mean()

Wow! Super easy! You can also use other statistical functions such as median.

<hr style="border:1px solid gray">

<font color='red' size = '5'> Student Exercise </font>

Building on the last student exercise, you want to explore your `web_log` data some more. Complete the following tasks:

1. Retrieve and print the column `IP`.
2. What does the 5th row of data look like?
3. Sort `web_log` by the column `IP`.
4. Sort `web_log` by the column `IP` again, but this time in descending order.
5. Create a new column that multiplies `Response` by 2.5. Name the column `NotHelpful`.
6. How many requests did each IP address have?


-----

In [ ]:
# 1. Retrieve and print the column `IP`.

In [ ]:
# 2. What does the 5th row of data look like?

In [ ]:
# 3. Sort `web_log` by the column `IP`.

In [ ]:
# 4. Sort `web_log` by the column `IP` again, but this time in descending order

In [ ]:
# 5. Create a new column that multiplies `Response` by 2.5. Name the column `NotHelpful`.

In [ ]:
# 6. How many requests did each IP address have?

<hr style="border:1px solid gray">

## Reading and Manipulating `.csv` Files

Commonly, the data we are interested in resides in external files. We have already seen ways to read data from files using built-in "base" Python functions. Fortunately, `pandas` provides an efficient and easy alternative to read the data from files into a `DataFrame`. If your file is in a text file, such as a `.csv` file, you can use the `.read_csv()` method. The nice thing about `.csv` files is that they are text and can easily be transferred and read on any operating system. If instead your data is stored in Microsoft Excel files, there are `pandas` methods to read data from that format too. Let's start with `.csv` files.

In [ ]:
# Use pandas to read states.csv into a DataFrame
states = pd.read_csv('./data/states.csv')
states

In [ ]:
# Get a sample of the states DataFrame
states.sample()

In [ ]:
# That only returned a single row
# Let's get 5 rows
states.sample(5)

In [ ]:
# Sort by population descending
states.sort_values(by='Population', ascending=False)

In [ ]:
# What if we wanted only the top five most populous states?
# We could sort and then take the .head(5) as one approach
top5 = states.sort_values(by='Population', ascending=False).head(5)
top5

In [ ]:
# What if we wanted the top five largest by land area?
top5_land = states.sort_values(by='SquareMiles', ascending=False).head(5)
top5_land

In [ ]:
# Try .describe() to see what it does for us
states.describe()

In [ ]:
# What if we wanted to add up the columns?
# Now just call the .sum() on the DataFrame 
states.sum()

In [ ]:
# What if we don't want State?
# We could specify the columns we want as a list
states[['Population','ElectoralVotes','HighwayMiles','SquareMiles']].sum()

If your list of columns is large, listing them all out is neither fun nor practical. If you know the name of the column you do not want to include, you can instead specify to **exclude** it. We do so next.

In [ ]:
# Exclude the column named 'State'
states.loc[:, states.columns != 'State'].sum()

<hr style="border:1px solid gray">

## Writing `.csv` Files

Once you have manipulated the data, you may wish to save the results in a file. For example, earlier we found the top five states based on their land area. Suppose we wanted to save those results to a file as a `.csv` file. That is straightforward to do with `pandas` by using the `.to_csv()` method. Let's try it.

In [ ]:
# Assuming top5_land is still in memory
# Print it out to see it
top5_land

In [ ]:
# Now write it to a file named `top5_land.csv`
top5_land.to_csv('./data/top5_land.csv')

After opening up the file (either with Excel or in the Jupyter interface), you should notice something. The first column does not have a header. If you look closer, you will notice that this is the index from the original `DataFrame`. In many cases, we may not want the index included when we export the data to a `.csv` file. By default the `.to_csv()` method exports the index. You can turn it off by using the argument `index=False`. Let's try that and see if it works.

In [ ]:
# Write it out again, without the index
top5_land.to_csv('./data/top5_land.csv', index=False)

<hr style="border:1px solid gray">

## Reading Simple `.xlsx` Files

With `pandas`, we can also easily read data from Microsoft Excel files. We will start by looking at a simple Excel file that only contains a single worksheet. We will be using the file `presidents.xlsx`, which contains each US president including the number, their name, and their height in centimeters. We use the `pd.read_excel()` function to get data out of an Excel file. You will also notice that when we read the file in this time, we are going to specify the index to use. We will use the column `PresidentNum`.

In [ ]:
# Read the contents of the file presidents.xlsx into presidents
presidents = pd.read_excel('./data/presidents.xlsx', 
                           index_col='PresidentNum')
presidents

In [ ]:
# Thomas Jefferson was the 3rd US president
# Print out his row of data using index label
presidents.loc[3]

In [ ]:
# Print out TJ's row of data using position
# REMEMBER counting starts at 0
presidents.iloc[2]

In [ ]:
# Who were the six shortest presidents?
presidents.sort_values(by='HeightCm').head(6)

In [ ]:
# Did any president serve non-consecutive terms?
presidents.Name.value_counts()

In [ ]:
# What were the presidential numbers that Grover Cleveland served?
presidents[presidents.Name == 'Grover Cleveland']

<hr style="border:1px solid gray">

<font color='red' size = '5'> Student Exercise </font>

You have been given an Excel file with the list of US presidents and their heights. Complete the following tasks in the code cells below:

1. Read the data from Excel file into a `DataFrame` called `prez`, being sure to use the `PresidentNum` as the index. What is its shape?
2. Sample 5 rows from `prez` to see what the data looks like.
3. Print out the summary statistics for the numerical columns in `prez`.
4. Print out the summary statistics for **ALL** columns in `prez`.
5. Create a new column that converts `HeightCm` into inches. Print out the `prez` to verify that it worked.

-----

In [ ]:
# 1. Read in the Excel file 'presidents.xlsx' into a DataFrame called prez,
# being sure to use the `PresidentNum` as the index.

# What is its shape?

In [ ]:
# 2. Sample 5 rows from `prez` to see what the data looks like.

In [ ]:
# 3. Print out the summary statistics for the numerical columns in `prez`.

In [ ]:
# 4. Print out the summary statistics for **ALL** columns in `prez`.

In [ ]:
# 5. Create a new column that converts `HeightCm` into inches.
# Print out the `prez` to verify that it worked.

<hr style="border:1px solid gray">

## Reading `.xlsx` Files with Multiple Worksheets

In many situations, you will need to read data from multiple worksheets in an Excel workbook. If you know the names of the worksheets, you can specify the ones you want to read in with the `sheet_name` argument. You can also specify the position of the sheets with integers. If you want to read all the sheets, you can specify `sheet_name=None`. The result will be a dictionary. 

We have a spreadsheet containing information about our historical sales in the workbook named `storeSales.xlsx`. Let's try reading in different worksheets. (Note: This file is "large", so some of the reading may take a few seconds.)

In [ ]:
first_sheet = pd.read_excel('./data/storeSales.xlsx')
first_sheet

In [ ]:
# What does the 3rd sheet look like?
# Remember indexing starts at 0
third_sheet = pd.read_excel('./data/storeSales.xlsx', sheet_name=2)
third_sheet

In [ ]:
# Now let's trying reading in all the sheets
# NOTE: This may take a minute or so ... be patient
store_sales = pd.read_excel('./data/storeSales.xlsx', sheet_name=None)

In [ ]:
# How many sheets total?
print(f'There are {len(store_sales)} worksheets')

In [ ]:
# What are their names?
print(store_sales.keys())

In [ ]:
# What does the sheet 'promotions' look like?
store_sales['promotions']

In [ ]:
# Look at the data types for promotions
store_sales['promotions'].dtypes

<hr style="border:1px solid gray">

## Writing `.xlsx` Files

When you only need to write data to an Excel file with a **single** sheet, the process is straightforward. You simply use the `.to_excel('desired_file_name.xlsx')` function. That is, it is only necessary to specify a target file name.

To write to multiple sheets it is necessary to create an `ExcelWriter` object with a target file name, and specify a sheet in the file to write to. By specifying unique `sheet_name` arguments, multiple sheets may be written. Note that creating an `ExcelWriter` object with a file name that already exists will result in the contents of the existing file being erased.

Let's try it.

In [ ]:
# Find the 6 shortest US presidents and write to `short_prez.xlsx`
# Assuming that presidents is still in memory here
short_prez = presidents.sort_values(by='HeightCm').head(6)
short_prez.to_excel('./data/short_prez.xlsx')
print('Should have saved these to short_prez.xlsx')
short_prez

Let's open up that file and look at it. You should notice that it saved the index column and the names of the columns by default. This is the result we are probably hoping for in this case. If you do not want the index saved, similar to what we did earlier for `.csv` files, then you can specify `index=False`.

----

Now let's try writing multiple worksheets to a new Excel file. Let's take the first 10 rows of each worksheet from our `store_sales` data and write it back out to a new Excel file named `first_ten.xlsx`. Each worksheet should use the same name as in the original data file.

In [ ]:
# Let's first just loop over store_sales, making sure we can get
# the sheet name and the first 10 rows of data
for k,v in store_sales.items():
    print(k)
    print(v.head(10))

In [ ]:
# Use an `ExcelWriter` object
with pd.ExcelWriter('./data/first_ten.xlsx') as writer:
    # Loop over the dictionary. k = sheet_name, v.head(10) is DataFrame
    for k,v in store_sales.items():
        print(f'Writing to sheet {k}')
        v.head(10).to_excel(writer, sheet_name=k)

In [ ]:
# After opening the resulting file, we see that it included
# the index in each sheet, which we really don't want
# Try again ...
with pd.ExcelWriter('./data/first_ten.xlsx') as writer:
    # Loop over the dictionary. k = sheet_name, v.head(10) is DataFrame
    for k,v in store_sales.items():
        print(f'Writing to sheet {k}')
        v.head(10).to_excel(writer, sheet_name=k, index=False)

<hr style="border:1px solid gray">

<font color='red' size = '5'> Student Exercise </font>

Complete the following tasks in the code cells below:

1. Using the `DataFrame` called `presidents`, find the 7 tallest US presidents, storing the result in a variable named `tall_prez`.
2. Export `tall_prez` to the file `tall_prez.xlsx`. Verify it worked.
3. Using the `store_sales` data, sample seven rows from the worksheets 'customers' and 'transactions' and write the results to a new Excel file named `random_seven.xlsx`. Each worksheet should use the same name as the worksheet the data came from.


-----

In [ ]:
# 1. Using the `DataFrame` called `presidents`, find the 7 tallest 
# US presidents, storing the result in a variable named `tall_prez`.

In [ ]:
# 2. Export `tall_prez` to the file `tall_prez.xlsx`. Verify it worked.

In [ ]:
# 3. Using the `store_sales` data, sample seven rows from the worksheets 
# 'customers' and 'transactions' and write the results to a new Excel file
# named `random_seven.xlsx`. Each worksheet should use the same name as 
# the worksheet the data came from.


print('Do not forget to verify it worked!')

![Panda waving good-bye](https://mddean.people.wm.edu/MBA/images/panda4.jpg)

### Additional Resources

The following links point you to additional resources that you might find helpful in learning this material.

1. The official API reference for [`pandas.Series`][1].
2. The official API reference for [`pandas.DataFrame`][2].
3. The [user guide][3] for `pandas`.

-----

[1]: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html
[2]: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html
[3]: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html

**&copy; 2022 - Present: Matthew D. Dean, Ph.D.   
Clinical Associate Professor of Business Analytics at William \& Mary.**